<h1>A.Stricks</h1>
<p>A.Stricks is an HTML5 Canvas game<br>created by Aaron Strick</p>
<p>----------------------------<br>| <a href="http://github.com/strickinato/astricks">Source Code</a> | <a href="http://aaronstrick.com">Aaron Strick</a> |<br>----------------------------</p>
<p>Arrow Keys to move. Space to fire.<br>
Collect flashing asteroids for extra life!</p>

<div class="space-button play-button">Play! </div>
<div class="high-scores">
  <h1>High Scores</h1>
  <table>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Score</th>
    </tr>
    <% games.each(function(game, index){ %>
      <tr>
      <% if (index < 10) { %>
        <td><%= (index + 1) %></td>
        <td><%= game.escape('name') %></td>
        <td><%= game.escape('score') %></td>
      </tr>
    <% }}) %>
  </table>
</div>

<div id="regular-score">
<h2><%= points %> Points!</h2>
<div class="space-button play-button">Play Again</div>

</div>

<div id="high-score-form">
<h2><%= points %> Points!</h2>
<h3> You got a high score!</h3>
  <form class="high_score_form" id="score-form">
    <input
      type="hidden"
      id="game_score"
      name="game[score]"
      value="<%= points %>">

    <label for="game_name">Name:</label>
    <input
      type="text"
      id="game_name"
      name="game[name]"
      class="form-input">
    <input type="submit" value="Log">
  </form>
</div>

<script>
  $(".play-button").on("click", function() { Asteroids.Util.startGame(); })
  $("#score-form").submit(function(e) { e.preventDefault(); Asteroids.Util.submitForm(<%= points %>); })

</script>
